.button-row {

}

.button-row:after {
	clear: both;
	content: "";
	display: block;
}

.button {
	vertical-align: middle;
	position: relative;
	font-family: "Lato Light", Arial;
	text-decoration: none;
	text-align: center;
	/*white-space: nowrap;*/
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ffffff;
	color: #4756ee;
	font-size: 16px;
	font-weight: 300;
	width: 180px;
	margin: 0 8px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	line-height: 1.1;
	padding: 0 10px;
	-webkit-tap-highlight-color: transparent;
	border-radius: 27px;

	@include res(l){
		font-size: 16px;
		padding: 0 20px;
	}

	&:focus {

	}

	&:hover,
	&.box-menu__btn-active {
		background: #4963f2;
		color: #fff;
		//box-shadow:  0 5px 0 0 #b0244a;
		//transform: translate3d(0,-2px,0);
	}

	&:active{
		background: #4963f2;
		//transform: translate3d(0,2px,0);
	}

	.i{
		font-size: 14px;
		float: left;
		margin: 1px 2px 0 0;
	}

	&--medium{
		padding: 11px 20px;
		font-size: 16px;

		.i{
			margin-left: 5px;
		}
	}

	&--small{
		padding: 8px 15px;
		font-size: 14px;

		.i{
			margin-left: 5px;
		}
	}
}

.header-top  .button {
	width: auto;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.button--outline{
	border: 1px solid $pink;
	box-shadow: none;
	background: transparent;
	color: $pink;
	font-weight: normal;
	text-shadow: none;
	text-transform: none;

	&:focus {
		background: $pink;
		outline: none;
		transform: none;
		border-color: $pink;
		color: #FFF;
	}

	&:hover{
		background: $pink;
		box-shadow: none;
		transform: none;
		border-color: $pink;
		color: #FFF;
	}

	&:active{
		background: $pink;
		border-color: $pink;
		color: #FFF;
		box-shadow: none;
		transform: none;
	}
}

.button-small {
	padding: 0 16px;
	height: 40px;
}

.button-blue {
	background: #4963f2;
	color: #fff;
}

.button-blue-dark {
	background: #374387;
	color: #fff;
}

.button-white {
	background: none;
	border: 2px solid #fff;
	color: #fff;
}

.btn-row {
	padding: 0 21px;
	display: flex;

	@include res(l){
		justify-content: center;
	}
}

.btn-row-center {
	justify-content: center;
}