.button-row {

}

.button-row:after {
	clear: both;
	content: "";
	display: block;
}

.button {
	vertical-align: middle;
	position: relative;
	font-family: "Lato Light", Arial;
	text-decoration: none;
	text-align: center;
	/*white-space: nowrap;*/
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ffffff;
	color: #4756ee;
	font-size: 16px;
	font-weight: 300;
	width: 180px;
	margin: 0 8px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	line-height: 1.1;
	padding: 0 10px;
	-webkit-tap-highlight-color: transparent;
	border-radius: 27px;

	@include res(l){
		font-size: 16px;
		padding: 0 20px;
	}

	&:focus {
		background: #4963f2;
		color: #fff;
	}
	&:hover,
	&.box-menu__btn-active {
		background: #4963f2;
		color: #fff;
	}
	&:active{
		background: #4963f2;
		color: #fff;
	}
	&--medium{
		padding: 11px 20px;
		font-size: 16px;
	}
	&--small{
		padding: 8px 15px;
		font-size: 14px;
	}
}

.header-top  .button {
	width: auto;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.button-small {
	padding: 0 16px;
	height: 40px;
}
.button-blue {
	background: #4963f2;
	color: #fff;

	&:hover,
	&:focus,
	&:active {
		background: #374387;
	}
}
.button-white {
	background: none;
	border: 2px solid #fff;
	color: #fff;

	&:hover,
	&:active,
	&:focus {
		background: none;
		border-color: #2793ca;
		text-decoration: underline;
	}
}

.btn-row {
	padding: 0 21px;
	display: flex;

	@include res(l){
		justify-content: center;
	}
}

.btn-row-center {
	justify-content: center;
}