
/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "Lato-Regular";
	src:
			url("../fonts/LatoRegular.woff") format("woff"), /* Modern Browsers */
			url("../fonts/LatoRegular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "Lato Light";
	src:
			url("../fonts/LatoLight.woff") format("woff"), /* Modern Browsers */
			url("../fonts/LatoLight.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "IntroCondBlackFree";
	src:
			url("../fonts/IntroCond.woff") format("woff"), /* Modern Browsers */
			url("../fonts/IntroCond.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
	font-family: "DejaVuSansCondensed";
	src:
			url("../fonts/DejaVuSansCondensed.woff") format("woff"), /* Modern Browsers */
			url("../fonts/DejaVuSansCondensed.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "EuphemiaCAS";
	src:
			url("../fonts/Euphemia.woff") format("woff"), /* Modern Browsers */
			url("../fonts/Euphemia.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}