
$breakpoints: (
		'xxl': (max-width: 1680px),
		'xxll': (max-width: 1400px),
		'xl': (max-width: 1280px),
		'l': (max-width: 1100px),
		'll': (max-width: 960px),
		'lm': (max-width: 959px),
		'm': (max-width: 768px),
		's': (max-width: 720px),
		'xs': (max-width: 480px),
		'xxs': (max-width: 375px),
);


$width: 1600px;
$width-text: 1500px;

$font: 'Lato-Regular', sans-serif;
$font-title: 'Lato Light', sans-serif;
$font-icon: 'smileicons' !important;

$container_width: 1330px;

$gutter: 15px;

$shadow-block: 0 2px 15px 0 transparentize(#a6bfcf,0.5);
$shadow-block-big: 0 3px 35px 0 transparentize(#a6bfcf,0.3);

$pink: #ff5274;
$green: #72dbd4;
$green-dark: #239ca3;
$green-light: #d5f4f4;
$black: #000000;
$bg-color: #ffffff;
$gray-text: #7b90a1;
$gray-border: #cedae1;
$gray-bg: #e6eff6;
$green-bg: #eefafc;

$text-box-color-background: #239ad2;